/* 
    Document   : newcss
    Created on : Apr 10, 2013, 5:03:40 PM
    Author     : miguel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.headerJornal{
	border-bottom: 3px solid;
	border-color: #800109;
	background-color: #E4E4E4;
}

.divc2 {

}
