/* 
    Document   : newcss
    Created on : Apr 10, 2013, 5:03:40 PM
    Author     : miguel
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}


.divc2 {

}
